hr {
  margin: 0 auto;
  padding-top: 30px;
  border-bottom: 5px dashed rgb(255, 149, 0);
  color: white;
}

/* .orders__container {
  margin: 0 auto;
  width: 90%;
} */

.order__card {
  margin-top: 30px;
}

.order__info {
  margin-left: 60px;
}

.order__card p {
  color: black;
}

.order__info {
  margin-bottom: 20px;
}

.order__info td {
  padding-left: 40px;
}

/* .image__product {
  width: 100px !important;
  height: 100px !important;
} */
